@import "tailwindcss";

@theme {
	--default-font-family: "Rubik Variable";
	--primary-chroma-hue: 9% 260deg;

	--color-primary-50: oklch(98% var(--primary-chroma-hue));
	--color-primary-950: oklch(15% var(--primary-chroma-hue));

	--color-primary-900: color-mix(
		in oklch,
		var(--color-primary-50) 10%,
		var(--color-primary-950)
	);
	--color-primary-800: color-mix(
		in oklch,
		var(--color-primary-50) 20%,
		var(--color-primary-950)
	);
	--color-primary-700: color-mix(
		in oklch,
		var(--color-primary-50) 30%,
		var(--color-primary-950)
	);
	--color-primary-600: color-mix(
		in oklch,
		var(--color-primary-50) 40%,
		var(--color-primary-950)
	);
	--color-primary-500: color-mix(
		in oklch,
		var(--color-primary-50) 50%,
		var(--color-primary-950)
	);
	--color-primary-400: color-mix(
		in oklch,
		var(--color-primary-50) 60%,
		var(--color-primary-950)
	);
	--color-primary-300: color-mix(
		in oklch,
		var(--color-primary-50) 70%,
		var(--color-primary-950)
	);
	--color-primary-200: color-mix(
		in oklch,
		var(--color-primary-50) 80%,
		var(--color-primary-950)
	);
	--color-primary-100: color-mix(
		in oklch,
		var(--color-primary-50) 90%,
		var(--color-primary-950)
	);
}

@layer base {
	* {
		min-width: 0;
		min-height: 0;
	}

	:root {
		background-color: var(--color-primary-950);
		color: var(--color-primary-50);
	}

	:focus {
		outline: none;
	}

	:focus-visible {
		@apply outline-primary-500 outline-2 outline-offset-1;
	}
}

@utility container {
	@apply mx-auto w-full max-w-[1000px] px-4;
}

@utility panel {
	@apply bg-primary-900/50 border-primary-800;
}

@utility panel-hovered {
	@apply bg-primary-900 border-primary-700;
}

@utility panel-pressed {
	@apply bg-primary-800/75 border-primary-600;
}

@utility panel-interactive {
	@apply panel hover:panel-hovered active:panel-pressed transition-colors active:duration-0;
}

@utility button {
	@apply panel-interactive flex min-h-10 items-center gap-2 rounded border px-3;
}

@utility input {
	@apply panel-interactive not-active:focus:panel-hovered min-h-10 rounded px-3 py-2 outline-none;
}

@utility fade-rise {
	@apply translate-y-1 opacity-0 transition ease-in data-[enter]:translate-y-0 data-[enter]:opacity-100 data-[enter]:ease-out;
}
